nodejs/.DS_Store
nodejs/node_modules
.vscode
**/node_modules
**/package-lock.json
**/swagger-output.json
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
coverage/
tmp/
*.sqlite
*.sqlite3
*.db
*.pid
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
*.tgz
build/
uploads/
public/uploads/